import React from 'react'
import { useSelector, useDispatch } from 'react-redux'

import { updateUi } from '../../store/ui/uiSlice'
import { selectUi } from '../../store/ui/uiSelector'
import { FeatureComponentProps } from '../../../migration'

export const <%= entryName %>Entry: React.FC<FeatureComponentProps> = () => {
  const ui = useSelector(selectUi)
  window.console.log('ui:', ui)

  const dispatch = useDispatch()

  React.useEffect(() => {
    dispatch(updateUi({ todo: 'foo' }))
  }, [])

  return <div>Todo:</div>
}

export default <%= entryName %>Entry
